* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="checkbox"] {
  display: none;
}

.dark,
.dark header {
  background-color: #263238;
  color: #fff;
}

.bi {
  font-size: 2rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}

.dark .bi-sun {
  display: none;
}
.dark .bi-moon {
  display: block;
}
